@model IEnumerable<Projecten2Groep7.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "Index";
}

<h2></h2>




<div class="col-md-12">
    <div class="alert alert-info">
        <p>Er werden geen resultaten gevonden. Gelieve een andere zoekterm in te geven.</p>
    </div>
    <br/>
</div>
