
@{
    ViewBag.Title = "Reservaties";
    ViewBag.Active = "Reservaties";
}

<h2>Reservaties</h2>
    Je hebt momenteel geen reservaties. @Html.ActionLink("Reserveer items uit uw verlanglijst.", "Index", "Verlanglijst")

