
@{
    ViewBag.Title = "Verlanglijst";
    ViewBag.Active = "Verlanglijst";
}

<h2>Verlanglijst</h2>
    Je verlanglijst is momenteel leeg. @Html.ActionLink("Voeg items toe via de catalogus", "Index", "Product")

