@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Remko Vermaeren:</strong> 
    <a href="mailto:remko.vermaeren.v7260@student.hogent.be">remko.vermaeren.v7260@student.hogent.be</a><br/>
    <strong>Thomas de Wulf:</strong>
    <a href="mailto:thomas.dewulf.v4732@student.hogent.be">thomas.dewulf.v4732@student.hogent.be</a><br/>
    <strong>Maarten Van Meersche:</strong>
    <a href="mailto:maarten.vanmeersche.v4698@student.hogent.be">maarten.vanmeersche.v4698@student.hogent.be</a><br/>
    <strong>Pol De Puysseleyr:</strong>
    <a href="mailto:pol.depuysseleyr.v7467@student.hogent.be">pol.depuysseleyr.v7467@student.hogent.be</a><br />
</address>